@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=GFS+Didot&family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Josefin+Sans:wght@700&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.login{
    height: 89.2%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("marshsbg.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
}

.form{
    width: 380px;
    height: 480px;
    position: absolute;
    margin-top: 10%;
    margin-left: 37%;
    background: white;
    padding: 5px;
    overflow: hidden;
}

.button{
    width: 220px;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
    margin-top: 30px;
    margin-left: 75px;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top: 0;
    bottom: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #81cdc6,#025043);
    border-radius: 30px;
    transition: .5s;
}

.input-group{
    top: 150px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;    
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #81cdc6,#025043);
    outline: none;
    border: 0px;
    border-radius: 30px;
}

.checkbox{
    margin: 35px 10px 33px 0px;
}

#remember{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login{
    left: 50px;
}

#register{
    left: 450px;
}



.homebg ul li a:hover {
  color:#ea1538;
  text-decoration: none;
  transition: all 0.3s;
}

nav{
    display: flex;
    padding-top: 35px;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #025043;
    position: relative;
}

.logo {
  color: #fff 
  font-size: 30px;
  margin-bottom: 30px;
}

img {
  height: 40px;
  width: 40px;
  float: left;
}

#schoollogo{
  font-family: 'Arvo', serif;
  font-size: 35px;
}

a {
  text-decoration: none;
  color: white;
}

.loginicon img{
    position: absolute;
    display: flex;
    width: 300px;
    height: 300px;
    top: 220px;
    left: 750px;
}

#User-Login{
    position: absolute;
    display: flex;
    top: 550px;
    left: 827px;   
    font-family: 'Gloock', serif;
    color: white;
}

@media (max-width: 858px){

.login{
    display: flex;
    width: 100%;
}

.form{
    position: absolute;
    width: 50%;
    height: 50%;
    overflow: hidden;
}

.loginicon img{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 170px;
    left: 135px;
}

#User-Login{
    position: relative;
    display: flex;
    font-size: 15px;
    top: 280px;
    left: 149px;   
    font-family: 'Gloock', serif;
    color: white;
}

}